<h1>Travonde - Volunteering</h1>
<p>This is the sample page for the volunteering catalogue. Since we are using erb, we can dynamically populate the table with values defined in the Welcome#volunteer controller.</p>
